.navbar .navbar-toggle{
    cursor: pointer;
    display: none;
}

.navbar-toggle .bar{
    width: 25px;
    height: 3px;
    margin: 2px 0;
    transition: 0.4s;
    background-color: #000;
}

@media screen and (max-width: 768px) {
    .nav-mobile{
        display: none;
        flex-direction: ;
    }
    
}